body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #EFF6FF;
  color: #0F172a;
}

.container {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: flex-start;
  max-width: 60%;
  padding: 20px;
  margin: 25px auto;
  gap: 16px;
}

.container .title {
  padding: 2px 5px;
  color: #1d4ed8;
  font-size: 20px;
  margin: 0;
  border-left: 4px solid #EE4444;
}

.container .description {
  color: #0F172A;
  font-size: 13px;
}

.professional_objective {
  border-radius: 16px;
  background: #e6f2ff;
}

.container_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #EFF6FF;
  background: #1d4ed8;
  color: #EFF6FF;
  padding: 0 20px;

}

.block_details {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}

.block_details img {
  width: 25px;
  height: 25px;
}

.links {
  display: flex;
  list-style: none;
  gap: 15px;
}

.links li a {
  text-decoration: none;
  color: #EFF6FF;
  font-size: 13px;

}

.hero {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background: #1d4ed8;
  gap: 15px;
}

.hero h1,
p {
  margin: 0;
  padding: 0;
  color: #EFF6FF;
}

.hero h1 {
  font-size: 20px;
}

.hero p {
  font-size: 12px;
}

.hero button {
  padding: 5px 15px;
  border-radius: 16px;
  border: none;
  color: #1d4ed8;
  font-weight: 600;
}

.content_details {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 12px;
}

.my_img {
  width: 80px;
  height: 80px;
  border-radius: 16px;
}

.container_cards {
  display: flex;
  gap: 15px;
}

.card {
  padding: 16px;
  background: #fff;
  border-radius: 16px;
}

.container_cards.single .card {
  flex: 0 0 33.33%;
}

.two {
  width: 100%;
}
.container_cards.two .card {
  flex: 0 0 50%;
}

.hard_skill {
  border-top: 3px solid #1d4ed8;
}

.soft_skill {
  border-top: 3px solid #EE4444;
}

.tecnology {
  border-top: 3px solid #F59E0B;
}

.card_title {
  color: #EF4444;
  font-size: 15px;
}

.skill_list {
  font-size: 13px;
}

.custom_table {
  width: 100%;
  border-collapse: collapse; /* importante */
  font-size: 13px;
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
}

.custom_table thead {
  background: #1d4ed8;
  color: white;
}

.custom_table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
}

.custom_table td {
  padding: 12px;
  color: #1f2937;
}

.custom_table tbody tr:nth-child(even) {
  background: #f3f4f6;
}

.custom_table tbody tr {
  border-bottom: 1px solid #EFF6FF;
}

.custom_table tbody tr:last-child {
  border-bottom: none;
}

.container_techs_useds {
  display: flex;
  gap: 8px;
  margin-top: 20px;
  flex-wrap: wrap;
}

.container_techs_useds .tech {
  background: #1d4ed8;
  color: #EFF6FF;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 12px;
  text-decoration: none;
  display: inline-block;
  transition: 0.2s;
}

.container_techs_useds .tech:hover {
  background: #374151;
  transform: translateY(-1px);
}

.contact_title{
  color: #1d4ed8;
  font-size: 15px;
  font-weight: 600;
}

.asterisco{
  color: #f59e0b;
  margin-left: 3px;
  font-weight: 1000;
}

.social_links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 10px;
}

.social_links li {
  margin-bottom: 8px;
}

.social_links a {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 999px;
  font-size: 12px;
  text-decoration: none;
  background: #1d4ed8;
  color: #EFF6FF;
  transition: 0.2s;
}

.social_links a:hover {
  background: #374151;
  transform: translateY(-1px);
}

.formulario {
  margin-top: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;  
  margin-bottom: 20px;    
}

input, textarea {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  border-radius: 16px;
  border: 2px solid rgba(153, 153, 153, 0.58);
  padding: 10px;
}

input, textarea {
  border: 1px solid #434bc58a;
}

::placeholder {
  font-family: helvetica, sans-serif;
  font-size: 14px;
  color: #888;
  opacity: 1;
}

.botao {
   display: inline-block;
  padding: 5px 10px;
  border-radius: 999px;
  border: none;
  font-size: 12px;
  text-decoration: none;
  background: #1d4ed8;
  color: #EFF6FF;
  transition: 0.2s;
}

.botao:hover {
  background: #374151;
  transform: translateY(-1px);
}

footer.custom_footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background: #0F172a;
    color: #EFF6FF;
    font-size: 13px;
    border-radius: 16px 16px 0 0; 
}