.formulario {
  margin-top: 10px;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

input,textarea {
  font-size: 14px;
  border-radius: var(--border-radius);
  border: 1px solid #434bc58a;
  padding: 10px;
}

::placeholder {
  font-family: inherit;
  font-size: 14px;
  color: #888;
  opacity: 1;
}

.botao {
  display: inline-block;
  padding: 5px 10px;
  border-radius: var(--border-radius);
  border: none;
  font-size: 12px;
  text-decoration: none;
  background: var(--primary);
  color: var(--background);
  transition: 0.2s;
  cursor: pointer;
}

.botao:hover {
  background: #81a9e9;
  transform: translateY(-1px);
}

.error {
  color: var(--accent);
  font-size: 12px;
  display: block;
  margin-top: 5px;
  min-height: 5px;
}