body {
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    background: var(--background);
    color: var(--text);
}

.container {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: flex-start;
    max-width: 60%;
    padding: 20px;
    margin: 25px auto;
    gap: 16px;
}

.container .title {
    padding: 2px 5px;
    color: var(--primary);
    font-size: 20px;
    margin: 0;
    border-left: 4px solid var(--accent);
}

.container .description {
    color: var(--text);
    font-size: 13px;
}

.professional_objective {
    border-radius: var(--border-radius);
    background: var(--background);
}

.block_details img {
    width: 25px;
    height: 25px;
}

.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
    background: var(--primary);
    gap: 15px;
}

.hero h1,
p {
    margin: 0;
    padding: 0;
    color: var(--background);
}

.hero h1 {
    font-size: 20px;
}

.hero p {
    font-size: 12px;
}

.hero button {
    padding: 5px 15px;
    border-radius: var(--border-radius);
    border: none;
    color: var(--primary);
    font-weight: 600;
}

.content_details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.my_img {
    width: 80px;
    height: 80px;
    border-radius: var(--border-radius);
}

.container_cards {
    display: flex;
    gap: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.container_cards .card {
    flex: 1;
}

.card {
    padding: 16px;
    background: var(--background);
    border-radius: var(--border-radius);
}

.container_cards .single .card {
    flex: 0 0 33.33%;
}

.two {
    width: 100%;
}

.container_cards.two .card {
    flex: 0 0 50%;
}

.hard_skill {
    border-top: 3px solid var(--primary);
}

.soft_skill {
    border-top: 3px solid var(--accent);
}

.tecnology {
    border-top: 3px solid var(--secondary);
}

.card_title {
    color: var(--accent);
    font-size: 15px;
}

.skill_list {
    font-size: 13px;
}

.custom_table {
    width: 100%;
    border-collapse: collapse;  
    font-size: 13px;     
    background: var(--background);
    border-radius: var(--border-radius);
    overflow: hidden;
}

.custom_table thead {
    background: var(--primary);
    color: white;
}

.custom_table th {
    text-align: left;
    padding: 12px;
    font-weight: 600;
}

.custom_table td {
    padding: 12px;
    color: var(--text);
}

.custom_table tbody tr:nth-child(even) {
    background: #f3f4f6;
}

.custom_table tbody tr {
    border-bottom: 1px solid var(--background);
}

.custom_table tbody tr:last-child {
    border-bottom: none;
}

.container_techs_useds {
    display: flex;
    gap: 8px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.container_techs_useds .tech {
    background: var(--primary);
    color: var(--background);
    padding: 5px 10px;
    border-radius: var(--border-radius);
    font-size: 12px;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.container_techs_useds .tech:hover {
    background: #81a9e9;
    transform: translateY(-1px);
}

.contact_title {
    color: var(--primary);
    font-size: 15px;
    font-weight: 600;
}

.asterisco {
    color: var(secondary);
    margin-left: 3px;
    font-weight: 1000;
}

.social_links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.social_links li {
    margin-bottom: 8px;
}

.social_links a {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 999px;
    font-size: 12px;
    text-decoration: none;
    background: var(--primary);
    color: var(--background);
    transition: 0.2s;
}

.social_links a:hover {
    background: #81a9e9;
    transform: translateY(-1px);
}

input, textarea {    
    font-family: inherit;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    background-color: var(--background)
}

.accordion-item.active .accordion-content {
    max-height: 1000px;
    padding: 20px 0;
}

.accordion-item.active .icon {
    transform: rotate(180deg);
    display: inline-block;
}

#backToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: var(--primary);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s;
}

#backToTop:hover {
    background-color: #81a9e9;
    transform: translateY(-1px);
}

@media(max-width: 48rem) {
    .hero {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        padding: 50px 0;
        background: var(--primary);
        gap: 15px;
    }

    .hero h1,
    p {
        margin: 0;
        padding: 0;
        color: var(--background);
        justify-content: right;
    }

    .hero h1 {
        font-size: 20px;
    }

    .hero p {
        font-size: 12px;
    }

    .hero button {
        padding: 5px 15px;
        border-radius: var(--border-radius);
        border: none;
        color: var(--primary);
        font-weight: 600;
    }

    .container {
        display: flex;
        flex-direction: column;
        align-content: stretch;
        align-items: flex-start;
        max-width: 100%;
        padding: 20px;
        margin: 0;
        gap: 16px;
    }

    .custom_table {
        width: 100%;
        border-collapse: collapse;
        font-size: 11px;
        background: var(--background);
        border-radius: 8px;
        overflow: none;
        display: block;
    }

    .content_details {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 12px;
        flex-direction: column;
    }

    .container_cards .card {
        flex: 1 1 100%;
    }

    .container_cards.single .card {
        flex: 100%;
    }

    .container_cards.two .card {
        flex: 100%;
    }    
}